In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data

In [3]:
dsTeams=pd.read_csv("C:/Users/Nageswar/AIML/Labs/Residency1/Assignment/Laliga.csv",skiprows=1)
dsTeams=dsTeams.replace("-",0)

dsTeams.GoalsFor=dsTeams.GoalsFor.astype('int64')
dsTeams.GoalsAgainst=dsTeams.GoalsAgainst.astype('int64')
dsTeams.Points=dsTeams.Points.astype('int64')
dsTeams.GamesPlayed=dsTeams.GamesPlayed.astype('int64')
dsTeams.GamesWon=dsTeams.GamesWon.astype('int64')

print(dsTeams)

    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
0     1          Real Madrid       86    4385         2762      1647
1     2            Barcelona       86    4262         2762      1581
2     3      Atletico Madrid       80    3442         2614      1241
3     4             Valencia       82    3386         2664      1187
4     5      Athletic Bilbao       86    3368         2762      1209
5     6              Sevilla       73    2819         2408       990
6     7             Espanyol       82    2792         2626       948
7     8        Real Sociedad       70    2573         2302       864
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
13   14     Racing Santander       44    1416         1428       453
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
20   21           Villarreal       17     970          646       266
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
24   25               Getafe       12     553          456       147
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
28   29               Alaves       12     421          380       125
29   30              Levante       11     416          402       113
..  ...                  ...      ...     ...          ...       ...
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
33   34             Logrones        9     293          346        96
34   35            Castellon       11     285          334       103
35   36             Albacete        7     277          270        76
36   37              Almeria        6     242          228        62
37   38              Cordoba        9     230          282        82
38   39           Compostela        4     190          160        52
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
42   43             Numancia        4     148          152        37
43   44                Eibar        3     132          114        35
44   45               Arenas        7     107          130        43
45   46          Real Burgos        3      96          114        26
46   47            Gimnastic        4      91          116        34
47   48          Extremadura        2      83           80        20
48   49               Merida        2      81           80        19
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
51   52           Real Union        4      56           72        21
52   53           AD Almeria        2      52           68        17
53   54               Europa        3      42           54        18
54   55               Lleida        2      40           68        13
55   56              Leganes        1      35           38         8
56   57                Xerez        1      34           38         8
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5
60   61               Girona        1       0            0         0

   GamesDrawn GamesLost  GoalsFor  GoalsAgainst Champion Runner-up Third  \
0         552       563      5947          3140       33        23     8
1         573       608      5900          3114       25        25    12
2         598       775      4534          3309       10         8    16
3         616       861      4398          3469        6         6    10
4         633       920      4631          3700        8         7    10
5         531       887      3680          3373        1         4     4
6         608      1070      3609          3889        0         0     4
7         577       861      3228          3230        2         3     2
8         522       766      2683          2847        0         1     4
9         440       682      2159          2492        1         0     2
10        392       575      2052          2188        1         5     4
11        389       723      2278          2624        0         0     0
12        384       619      1767          2180        0         0     0
13        336       639      1843          2368        0         1     1
14        358       629      1753          2152        0         1     1
15        327       565      1500          1834        0         0     0
16        330       535      1421          1763        0         0     0
17        292       492      1642          1951        0         0     3
18        256       399      1182          1371        0         0     2
19        242       487      1347          1746        0         1     1
20        172       208       892           789        0         1     1
21        175       349       819          1157        0         0     0
22        148       305       760          1088        0         0     0
23        180       295       750          1022        0         0     0
24        112       197       520           633        0         0     0
25        149       295       716          1050        0         0     0
26        128       211       619           744        0         0     0
27        143       298       607           992        0         0     0
28         81       174       458           623        0         0     0
29         95       194       430           632        0         0     0
..        ...       ...       ...           ...      ...       ...   ...
31         95       202       492           720        0         0     0
32        127       217       393           662        0         0     0
33         92       158       291           489        0         0     0
34         79       152       419           588        0         0     0
35         76       118       320           410        0         0     0
36         56       110       244           366        0         0     0
37         63       137       285           430        0         0     0
38         45        63       199           241        0         0     0
39         46        90       202           296        0         0     0
40         50        95       216           310        0         0     0
41         44        83       165           221        0         0     0
42         37        78       155           253        0         0     0
43         27        52       139           167        0         0     0
44         21        66       227           308        0         0     1
45         44        44       101           139        0         0     0
46         16        66       181           295        0         0     0
47         23        37        62           117        0         0     0
48         24        37        70           115        0         0     0
49         16        62       145           252        0         0     0
50         13        48       121           183        0         0     0
51         14        37       153           184        0         0     0
52         18        33        71           116        0         0     0
53          6        30        97           131        0         0     0
54         14        41        70           182        0         0     0
55         11        19        36            55        0         0     0
56         10        20        38            66        0         0     0
57          8        15        37            57        0         0     0
58          5        18        51            85        0         0     0
59          4        21        34            65        0         0     0
60          0         0         0             0        0         0     0

   Fourth Fifth Sixth   T    Debut Since/LastApp  BestPosition
0       8     3     4  79     1929          1929             1
1      12     4     6  83     1929          1929             1
2       9     7     6  56     1929       2002-03             1
3      11    10     7  50  1931-32       1987-88             1
4       5     8    10  49     1929          1929             1
5       5    12     6  32  1934-35       2001-02             1
6       5     2     5  16     1929       1994-95             3
7       5     4     3  19     1929       2010-11             1
8       5     4     4  18  1939-40       2012-13             2
9       3     4     4  14  1932-33       2015-16             1
10      1     0     1  12  1941-42       2014-15             1
11      2     4     5  11  1939-40       2012-13             4
12      1     1     1   3  1948-49       2013-14             4
13      2     0     1   5     1929       2011-12             2
14      2     2     1   7  1944-45       2015-16             2
15      2     2     2   6  1935-36       2016-17             4
16      1     0     1   2  1949-50       2008-09             4
17      2     2     4  11  1933-34       2000-01             3
18      0     2     1   5  1960-61       2012-13             3
19      1     1     1   5  1951-52       2015-16             2
20      2     3     2   9  1998-99       2013-14             2
21      0     0     2   2  1941-42       2016-17             6
22      0     0     0   0  1977-78       2015-16             8
23      0     1     1   2  1959-60       2014-15             5
24      0     0     1   1  2004-05       2015-16             6
25      0     1     4   5  1935-36       2010-11             5
26      0     2     0   2  1961-62       2009-10             5
27      0     0     0   0  1940-41       2007-08            11
28      0     0     1   1  1930-31       2016-17             6
29      0     0     1   1  1963-64       2015-16             6
..    ...   ...   ...  ..      ...           ...           ...
31      1     1     0   2  1943-44       1987-88             4
32      0     0     0   0  1977-78       2005-06            12
33      0     0     0   0  1987-88       1996-97             7
34      1     2     0   3  1941-42       1990-91             4
35      0     0     0   0  1991-92       2004-05             7
36      0     0     0   0  2007-08       2014-15             8
37      0     1     0   1  1962-63       2014-15             5
38      0     0     0   0  1994-95       1997-98            10
39      0     0     0   0  1978-79       2008-09             8
40      0     0     0   0  1971-72       1979-80            12
41      0     0     0   0  1963-64       1969-70             7
42      0     0     0   0  1999-00       2008-09            17
43      0     0     0   0  2014-15       2014-15            10
44      0     3     0   4     1929       1934-35             3
45      0     0     0   0  1990-91       1992-93             9
46      0     0     0   0  1947-48       2006-07             7
47      0     0     0   0  1996-97       1998-99            17
48      0     0     0   0  1995-96       1997-98            19
49      0     0     0   0  1945-46       1950-51            10
50      0     0     0   0  1953-54       1957-58            14
51      0     0     1   1     1929       1931-32             6
52      0     0     0   0  1979-80       1980-81            10
53      0     0     0   0     1929       1930-31             8
54      0     0     0   0  1950-51       1993-94            16
55      0     0     0   0  2016-17       2016-17            17
56      0     0     0   0  2009-10       2009-10            20
57      0     0     0   0  1956-57       1956-57            16
58      0     0     0   0  1951-52       1951-52            16
59      0     0     0   0  1955-56       1955-56            15
60      0     0     0   0  2017-18       2017-18             9

[61 rows x 20 columns]

In [4]:
#Print all the teams which have started playing between 1930-1980
## First I split the column "Debut in to two columns so that I can perform the arithmatic operations"
## and stored the starting year in the "DebutStart" field

In [5]:
dsTeams[['DebutStart','DebutEnd']]=dsTeams["Debut"].str.split("-",expand=True)

dsTeams.DebutStart=dsTeams.DebutStart.astype('int64')

print (dsTeams[(dsTeams["DebutStart"]>=1930 ) & (dsTeams["DebutStart"]<=1980 )])

    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
3     4             Valencia       82    3386         2664      1187
5     6              Sevilla       73    2819         2408       990
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
28   29               Alaves       12     421          380       125
29   30              Levante       11     416          402       113
30   31            Salamanca       12     375          423       123
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
34   35            Castellon       11     285          334       103
37   38              Cordoba        9     230          282        82
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
46   47            Gimnastic        4      91          116        34
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
52   53           AD Almeria        2      52           68        17
54   55               Lleida        2      40           68        13
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5

   GamesDrawn GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth  \
3         616       861      4398          3469  ...    10     11    10     7
5         531       887      3680          3373  ...     4      5    12     6
8         522       766      2683          2847  ...     4      5     4     4
9         440       682      2159          2492  ...     2      3     4     4
10        392       575      2052          2188  ...     4      1     0     1
11        389       723      2278          2624  ...     0      2     4     5
12        384       619      1767          2180  ...     0      1     1     1
14        358       629      1753          2152  ...     1      2     2     1
15        327       565      1500          1834  ...     0      2     2     2
16        330       535      1421          1763  ...     0      1     0     1
17        292       492      1642          1951  ...     3      2     2     4
18        256       399      1182          1371  ...     2      0     2     1
19        242       487      1347          1746  ...     1      1     1     1
21        175       349       819          1157  ...     0      0     0     2
22        148       305       760          1088  ...     0      0     0     0
23        180       295       750          1022  ...     0      0     1     1
25        149       295       716          1050  ...     0      0     1     4
26        128       211       619           744  ...     0      0     2     0
27        143       298       607           992  ...     0      0     0     0
28         81       174       458           623  ...     0      0     0     1
29         95       194       430           632  ...     0      0     0     1
30        102       198       422           581  ...     0      0     0     0
31         95       202       492           720  ...     0      1     1     0
32        127       217       393           662  ...     0      0     0     0
34         79       152       419           588  ...     0      1     2     0
37         63       137       285           430  ...     0      0     1     0
39         46        90       202           296  ...     0      0     0     0
40         50        95       216           310  ...     0      0     0     0
41         44        83       165           221  ...     0      0     0     0
46         16        66       181           295  ...     0      0     0     0
49         16        62       145           252  ...     0      0     0     0
50         13        48       121           183  ...     0      0     0     0
52         18        33        71           116  ...     0      0     0     0
54         14        41        70           182  ...     0      0     0     0
57          8        15        37            57  ...     0      0     0     0
58          5        18        51            85  ...     0      0     0     0
59          4        21        34            65  ...     0      0     0     0

     T    Debut Since/LastApp BestPosition DebutStart  DebutEnd
3   50  1931-32       1987-88            1       1931        32
5   32  1934-35       2001-02            1       1934        35
8   18  1939-40       2012-13            2       1939        40
9   14  1932-33       2015-16            1       1932        33
10  12  1941-42       2014-15            1       1941        42
11  11  1939-40       2012-13            4       1939        40
12   3  1948-49       2013-14            4       1948        49
14   7  1944-45       2015-16            2       1944        45
15   6  1935-36       2016-17            4       1935        36
16   2  1949-50       2008-09            4       1949        50
17  11  1933-34       2000-01            3       1933        34
18   5  1960-61       2012-13            3       1960        61
19   5  1951-52       2015-16            2       1951        52
21   2  1941-42       2016-17            6       1941        42
22   0  1977-78       2015-16            8       1977        78
23   2  1959-60       2014-15            5       1959        60
25   5  1935-36       2010-11            5       1935        36
26   2  1961-62       2009-10            5       1961        62
27   0  1940-41       2007-08           11       1940        41
28   1  1930-31       2016-17            6       1930        31
29   1  1963-64       2015-16            6       1963        64
30   0  1974-75       1998-99            7       1974        75
31   2  1943-44       1987-88            4       1943        44
32   0  1977-78       2005-06           12       1977        78
34   3  1941-42       1990-91            4       1941        42
37   1  1962-63       2014-15            5       1962        63
39   0  1978-79       2008-09            8       1978        79
40   0  1971-72       1979-80           12       1971        72
41   0  1963-64       1969-70            7       1963        64
46   0  1947-48       2006-07            7       1947        48
49   0  1945-46       1950-51           10       1945        46
50   0  1953-54       1957-58           14       1953        54
52   0  1979-80       1980-81           10       1979        80
54   0  1950-51       1993-94           16       1950        51
57   0  1956-57       1956-57           16       1956        57
58   0  1951-52       1951-52           16       1951        52
59   0  1955-56       1955-56           15       1955        56

[37 rows x 22 columns]

In [6]:
#Print the list of teams which came Top 5 in terms of points

In [7]:
print (dsTeams.sort_values(by="Points",ascending=False).head(5))

   Pos             Team  Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
0    1      Real Madrid       86    4385         2762      1647        552
1    2        Barcelona       86    4262         2762      1581        573
2    3  Atletico Madrid       80    3442         2614      1241        598
3    4         Valencia       82    3386         2664      1187        616
4    5  Athletic Bilbao       86    3368         2762      1209        633

  GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth   T  \
0       563      5947          3140  ...     8      8     3     4  79
1       608      5900          3114  ...    12     12     4     6  83
2       775      4534          3309  ...    16      9     7     6  56
3       861      4398          3469  ...    10     11    10     7  50
4       920      4631          3700  ...    10      5     8    10  49

     Debut Since/LastApp BestPosition DebutStart  DebutEnd
0     1929          1929            1       1929      None
1     1929          1929            1       1929      None
2     1929       2002-03            1       1929      None
3  1931-32       1987-88            1       1931        32
4     1929          1929            1       1929      None

[5 rows x 22 columns]

In [8]:
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

In [9]:
def NGoal_diff_count(df):
    df.insert(22, "Goal_diff_count",df["GoalsFor"]-df["GoalsAgainst"])
    #df.loc[["Team"],[df["Goal_diff_count"].idxmax()]]
    MaxDiff=df.loc[[df["Goal_diff_count"].idxmax()]]  #1  #df.loc[df["Goal_diff_count"].idxmax()]
    MinDiff=df.loc[[df["Goal_diff_count"].idxmin()]]
    return (df,MaxDiff,MinDiff)

In [10]:
x,y,z=NGoal_diff_count(dsTeams)

In [11]:
#printing the Data Set with Goal Differences

In [12]:
print ("New Data Set with Goal Differences")
print(x)

New Data Set with Goal Differences
    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
0     1          Real Madrid       86    4385         2762      1647
1     2            Barcelona       86    4262         2762      1581
2     3      Atletico Madrid       80    3442         2614      1241
3     4             Valencia       82    3386         2664      1187
4     5      Athletic Bilbao       86    3368         2762      1209
5     6              Sevilla       73    2819         2408       990
6     7             Espanyol       82    2792         2626       948
7     8        Real Sociedad       70    2573         2302       864
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
13   14     Racing Santander       44    1416         1428       453
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
20   21           Villarreal       17     970          646       266
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
24   25               Getafe       12     553          456       147
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
28   29               Alaves       12     421          380       125
29   30              Levante       11     416          402       113
..  ...                  ...      ...     ...          ...       ...
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
33   34             Logrones        9     293          346        96
34   35            Castellon       11     285          334       103
35   36             Albacete        7     277          270        76
36   37              Almeria        6     242          228        62
37   38              Cordoba        9     230          282        82
38   39           Compostela        4     190          160        52
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
42   43             Numancia        4     148          152        37
43   44                Eibar        3     132          114        35
44   45               Arenas        7     107          130        43
45   46          Real Burgos        3      96          114        26
46   47            Gimnastic        4      91          116        34
47   48          Extremadura        2      83           80        20
48   49               Merida        2      81           80        19
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
51   52           Real Union        4      56           72        21
52   53           AD Almeria        2      52           68        17
53   54               Europa        3      42           54        18
54   55               Lleida        2      40           68        13
55   56              Leganes        1      35           38         8
56   57                Xerez        1      34           38         8
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5
60   61               Girona        1       0            0         0

   GamesDrawn GamesLost  GoalsFor  GoalsAgainst  ... Fourth Fifth Sixth   T  \
0         552       563      5947          3140  ...      8     3     4  79
1         573       608      5900          3114  ...     12     4     6  83
2         598       775      4534          3309  ...      9     7     6  56
3         616       861      4398          3469  ...     11    10     7  50
4         633       920      4631          3700  ...      5     8    10  49
5         531       887      3680          3373  ...      5    12     6  32
6         608      1070      3609          3889  ...      5     2     5  16
7         577       861      3228          3230  ...      5     4     3  19
8         522       766      2683          2847  ...      5     4     4  18
9         440       682      2159          2492  ...      3     4     4  14
10        392       575      2052          2188  ...      1     0     1  12
11        389       723      2278          2624  ...      2     4     5  11
12        384       619      1767          2180  ...      1     1     1   3
13        336       639      1843          2368  ...      2     0     1   5
14        358       629      1753          2152  ...      2     2     1   7
15        327       565      1500          1834  ...      2     2     2   6
16        330       535      1421          1763  ...      1     0     1   2
17        292       492      1642          1951  ...      2     2     4  11
18        256       399      1182          1371  ...      0     2     1   5
19        242       487      1347          1746  ...      1     1     1   5
20        172       208       892           789  ...      2     3     2   9
21        175       349       819          1157  ...      0     0     2   2
22        148       305       760          1088  ...      0     0     0   0
23        180       295       750          1022  ...      0     1     1   2
24        112       197       520           633  ...      0     0     1   1
25        149       295       716          1050  ...      0     1     4   5
26        128       211       619           744  ...      0     2     0   2
27        143       298       607           992  ...      0     0     0   0
28         81       174       458           623  ...      0     0     1   1
29         95       194       430           632  ...      0     0     1   1
..        ...       ...       ...           ...  ...    ...   ...   ...  ..
31         95       202       492           720  ...      1     1     0   2
32        127       217       393           662  ...      0     0     0   0
33         92       158       291           489  ...      0     0     0   0
34         79       152       419           588  ...      1     2     0   3
35         76       118       320           410  ...      0     0     0   0
36         56       110       244           366  ...      0     0     0   0
37         63       137       285           430  ...      0     1     0   1
38         45        63       199           241  ...      0     0     0   0
39         46        90       202           296  ...      0     0     0   0
40         50        95       216           310  ...      0     0     0   0
41         44        83       165           221  ...      0     0     0   0
42         37        78       155           253  ...      0     0     0   0
43         27        52       139           167  ...      0     0     0   0
44         21        66       227           308  ...      0     3     0   4
45         44        44       101           139  ...      0     0     0   0
46         16        66       181           295  ...      0     0     0   0
47         23        37        62           117  ...      0     0     0   0
48         24        37        70           115  ...      0     0     0   0
49         16        62       145           252  ...      0     0     0   0
50         13        48       121           183  ...      0     0     0   0
51         14        37       153           184  ...      0     0     1   1
52         18        33        71           116  ...      0     0     0   0
53          6        30        97           131  ...      0     0     0   0
54         14        41        70           182  ...      0     0     0   0
55         11        19        36            55  ...      0     0     0   0
56         10        20        38            66  ...      0     0     0   0
57          8        15        37            57  ...      0     0     0   0
58          5        18        51            85  ...      0     0     0   0
59          4        21        34            65  ...      0     0     0   0
60          0         0         0             0  ...      0     0     0   0

      Debut Since/LastApp BestPosition DebutStart DebutEnd  Goal_diff_count
0      1929          1929            1       1929     None             2807
1      1929          1929            1       1929     None             2786
2      1929       2002-03            1       1929     None             1225
3   1931-32       1987-88            1       1931       32              929
4      1929          1929            1       1929     None              931
5   1934-35       2001-02            1       1934       35              307
6      1929       1994-95            3       1929     None             -280
7      1929       2010-11            1       1929     None               -2
8   1939-40       2012-13            2       1939       40             -164
9   1932-33       2015-16            1       1932       33             -333
10  1941-42       2014-15            1       1941       42             -136
11  1939-40       2012-13            4       1939       40             -346
12  1948-49       2013-14            4       1948       49             -413
13     1929       2011-12            2       1929     None             -525
14  1944-45       2015-16            2       1944       45             -399
15  1935-36       2016-17            4       1935       36             -334
16  1949-50       2008-09            4       1949       50             -342
17  1933-34       2000-01            3       1933       34             -309
18  1960-61       2012-13            3       1960       61             -189
19  1951-52       2015-16            2       1951       52             -399
20  1998-99       2013-14            2       1998       99              103
21  1941-42       2016-17            6       1941       42             -338
22  1977-78       2015-16            8       1977       78             -328
23  1959-60       2014-15            5       1959       60             -272
24  2004-05       2015-16            6       2004       05             -113
25  1935-36       2010-11            5       1935       36             -334
26  1961-62       2009-10            5       1961       62             -125
27  1940-41       2007-08           11       1940       41             -385
28  1930-31       2016-17            6       1930       31             -165
29  1963-64       2015-16            6       1963       64             -202
..      ...           ...          ...        ...      ...              ...
31  1943-44       1987-88            4       1943       44             -228
32  1977-78       2005-06           12       1977       78             -269
33  1987-88       1996-97            7       1987       88             -198
34  1941-42       1990-91            4       1941       42             -169
35  1991-92       2004-05            7       1991       92              -90
36  2007-08       2014-15            8       2007       08             -122
37  1962-63       2014-15            5       1962       63             -145
38  1994-95       1997-98           10       1994       95              -42
39  1978-79       2008-09            8       1978       79              -94
40  1971-72       1979-80           12       1971       72              -94
41  1963-64       1969-70            7       1963       64              -56
42  1999-00       2008-09           17       1999       00              -98
43  2014-15       2014-15           10       2014       15              -28
44     1929       1934-35            3       1929     None              -81
45  1990-91       1992-93            9       1990       91              -38
46  1947-48       2006-07            7       1947       48             -114
47  1996-97       1998-99           17       1996       97              -55
48  1995-96       1997-98           19       1995       96              -45
49  1945-46       1950-51           10       1945       46             -107
50  1953-54       1957-58           14       1953       54              -62
51     1929       1931-32            6       1929     None              -31
52  1979-80       1980-81           10       1979       80              -45
53     1929       1930-31            8       1929     None              -34
54  1950-51       1993-94           16       1950       51             -112
55  2016-17       2016-17           17       2016       17              -19
56  2009-10       2009-10           20       2009       10              -28
57  1956-57       1956-57           16       1956       57              -20
58  1951-52       1951-52           16       1951       52              -34
59  1955-56       1955-56           15       1955       56              -31
60  2017-18       2017-18            9       2017       18                0

[61 rows x 23 columns]

In [13]:
#Printing the Team with Max Goal Differences

In [14]:
print("Team with Max Goal Differences")
print(y)

Team with Max Goal Differences
   Pos         Team  Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
0    1  Real Madrid       86    4385         2762      1647        552

  GamesLost  GoalsFor  GoalsAgainst  ... Fourth Fifth Sixth   T Debut  \
0       563      5947          3140  ...      8     3     4  79  1929

  Since/LastApp BestPosition DebutStart DebutEnd  Goal_diff_count
0          1929            1       1929     None             2807

[1 rows x 23 columns]

In [15]:
#Printing the Team wiht Min Goal differences

In [16]:
print("Team with Min Goal Differences")
print(z)

Team with Min Goal Differences
    Pos              Team  Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
13   14  Racing Santander       44    1416         1428       453        336

   GamesLost  GoalsFor  GoalsAgainst  ... Fourth Fifth Sixth  T Debut  \
13       639      1843          2368  ...      2     0     1  5  1929

   Since/LastApp BestPosition DebutStart DebutEnd  Goal_diff_count
13       2011-12            2       1929     None             -525

[1 rows x 23 columns]

In [17]:
#Create a new column with name “Winning Percent” and append it to the data set

In [18]:
dsTeams.insert(23,"Winning Percent",(dsTeams["GamesWon"]/dsTeams["GamesPlayed"])*100)

In [19]:
#replacing numerical errors with Zeros

In [20]:
dsTeams["Winning Percent"]=pd.to_numeric(dsTeams["Winning Percent"],errors='coerce').fillna(0)

In [21]:
#top 5 teams with highest winning percentage

In [22]:
print(dsTeams.sort_values(by="Winning Percent",ascending=False).head(5))

   Pos             Team  Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
0    1      Real Madrid       86    4385         2762      1647        552
1    2        Barcelona       86    4262         2762      1581        573
2    3  Atletico Madrid       80    3442         2614      1241        598
3    4         Valencia       82    3386         2664      1187        616
4    5  Athletic Bilbao       86    3368         2762      1209        633

  GamesLost  GoalsFor  GoalsAgainst  ... Fifth Sixth   T    Debut  \
0       563      5947          3140  ...     3     4  79     1929
1       608      5900          3114  ...     4     6  83     1929
2       775      4534          3309  ...     7     6  56     1929
3       861      4398          3469  ...    10     7  50  1931-32
4       920      4631          3700  ...     8    10  49     1929

  Since/LastApp BestPosition DebutStart DebutEnd Goal_diff_count  \
0          1929            1       1929     None            2807
1          1929            1       1929     None            2786
2       2002-03            1       1929     None            1225
3       1987-88            1       1931       32             929
4          1929            1       1929     None             931

   Winning Percent
0        59.630702
1        57.241130
2        47.475134
3        44.557057
4        43.772629

[5 rows x 24 columns]

In [23]:
#Group teams based on their “Best position” and print the sum of their points for all positions

In [24]:
print(dsTeams.groupby("BestPosition")["Points"].sum())

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64